body{
  font-family: "Plus Jakarta Sans", serif !important ;
display:flex;
flex-direction:column;
min-height:100vh;
}
.container{
  flex:1;
  
}
.navbar{
  height:5rem;
 background-color: white;
}

.fa-compass{
  color:#fe424d;
  font-size: 2rem;
}
.nav-link{
color:#222222 !important;
}


.f-info-links a {
  text-decoration: none;
  color: #555;
  font-size: 0.9rem;
  transition: color 0.3s;
}
.f-info-links a:hover {
  text-decoration: underline;
  color: #fe424d;
}
.f-info-links, .f-info-socials {
  width: 100%;
  margin: 0.5rem 0;
}

.f-info-socials i {
  font-size: 1.4rem;
  margin-right: 1rem;
  color: #555;
  transition: color 0.3s;
}
.f-info-socials i:hover {
  color: #fe424d;
}
.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #f1f1f1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #ddd;
}
/*cards*/


.card{
 /*border:none !important; */
  margin-bottom: 2rem;
  white-space: nowrap;
}
.card-img-top{
  border-radius: 1rem !important;
  width:100% !important;
  object-fit:cover !important;
}
/*cards text wala part*/
.card-body p{
padding: 0 !important;
}
.card-text {
  font-weight: 400 !important;
  color: #222222 !important;
}
.listing_link{
text-decoration: none;
}
/*card effect*/
.card-col {
  position: relative;
  margin-bottom: 2rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: white;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.card-col:hover .card-img-overlay {
  opacity: 0.2;
}
.add-btn,.edit-btn,.edit-buttom,.Reserve-btn{
 background-color:#fe424d !important;
 border:none !important;
}
.submit-btn {
  background-color: #04AA6D !important;
}
/*show page*/
.show-img{
  height: 30vh;
}

.btns{
  display: flex;
}
.show-card{
  padding-left:0;
  padding-right:0;
}
.edit-btn{
  background-color: #fe424d !important;
  border: none !important;
}
.listing-card{
  border: none !important;
  margin-bottom: 2rem !important;

}
.card-img-top{
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body{
  padding: 0 !important;
}
#map{
  height:350px;
  width:100vh;
}
 
